h3 {
    color: #c06c84;
}

h6 {
    color: #c06c84;
    font-size: 22px;
}

h7 {
    font-size: 16px;
}
p{
    color: #393e46;
    font-size: 14px;
}

h8 {
    color: #393e46;
    font-size: 14px;
    
}

ul{
    color: #393e46;
    font-size: 14px;
}


#hiden {
    display:none;
}

#normal {
    display:true;
}
